<ion-content [fullscreen]="true">

  <img src="assets/title image.png" alt="title image" class="title-img">
  
  <form [formGroup]="applyForm" (ngSubmit)="unosForme()">
    <div class="week-container">

      <div class="prev-next-div">
        <button (click)="previousWeek()" class="prevBtn">Prethodni tjedan</button>
        <button (click)="nextWeek()" class="nextBtn">Sljedeći tjedan</button>
      </div>
      
      <div *ngFor="let day of currentWeek; let i = index">
        <div class="days">

          <div class="day">
          <span>{{ ['Pon', 'Uto', 'Sri', 'Čet', 'Pet', 'Sub', 'Ned'][i] }}</span>
          <span>{{ day }}</span>
          </div>
    

          <div class="hours">

            <div class="hour">
              <span *ngFor="let hour of hoursByDate[day]?.hours; let hourIndex = index" class="hourSpan">
                {{ hour.hours }}
                <button (click)="deleteHour(day, hour.id)" class="deleteBtn">X</button>
              </span>

              <div class="sum">
              <p>Ukupno:</p>
              <p>{{ hoursByDate[day]?.sum || 0 }}</p>

              </div>

            </div>
            
             
          </div>

          <button (click)="selectDate(day)" class="izaberiBtn">Izaberi datum</button>


        </div>
      </div>
    </div>

    <h1 #unos>Unos radnog vremena</h1>

      <ion-label position="stacked"><p class="datum">Datum:</p></ion-label>
      <p *ngIf="!selectedDate">Niste izabrali datum</p>
      <p *ngIf="selectedDate">{{ selectedDate }}</p>
      <ion-input id="date" type="hidden" name="date" required="" [value]="selectedDate" formControlName="datum"></ion-input>

      <hr>

      <p>Vrsta unosa:</p>
    <select name="type" id="type" formControlName="vrsta">
      <option value="" disabled selected>Izaberite vrstu unosa</option>
      <option *ngFor="let type of types"  [value]="type.value">{{ type?.title }}</option>
    </select>

    <hr>

    <p>Lokacija posla:</p>
    <select name="location" id="location" formControlName="lokacija">
      <option value="" disabled selected>Izaberite lokaciju</option>
      <option *ngFor="let location of locations"  [value]="location.id">{{ location?.title }}</option>
    </select>

    <hr>

    <p>Broj radnih sati:</p>
    <select name="hours" id="hours" formControlName="sati">
      <option value="" disabled selected>Izaberite sate</option>
      <option value="0.5">0.5</option>
      <option value="1">1</option>
      <option value="1.5">1.5</option>
      <option value="2">2</option>
      <option value="2.5">2.5</option>
      <option value="3">3</option>
      <option value="3.5">3.5</option>
      <option value="4">4</option>
      <option value="4.5">4.5</option>
      <option value="5">5</option>
      <option value="5.5">5.5</option>
      <option value="6">6</option>
      <option value="6.5">6.5</option>
      <option value="7">7</option>
      <option value="7.5">7.5</option>
      <option value="8">8</option>
      <option value="8.5">8.5</option>
      <option value="9">9</option>
      <option value="9.5">9.5</option>
      <option value="10">10</option>
      <option value="10.5">10.5</option>
      <option value="11">11</option>
      <option value="11.5">11.5</option>
      <option value="12">12</option>
      <option value="12.5">12.5</option>
      <option value="13">13</option>
      <option value="13.5">13.5</option>
      <option value="14">14</option>
    </select>
  
    <button type="submit" class="submitBtn">UNESI</button>
    
  </form>

<div *ngIf="formSubmitted && !errorMessage" class="formSend success">Podaci su uspješno poslani!</div>
<div *ngIf="errorMessage" class="formSend error">{{ errorMessage }}</div>

  <img src="assets/certification-removebg.png" alt="certifikacije" class="certification-img">


  <div class="space"></div>


  <nav>
  <a (click)="navHours()" [ngClass]="{'active-nav': currentPage === 'hours'}">
    <img src="assets/hours_icon.png" alt="hours icon">
  </a>

  <a (click)="navLokacija()" [ngClass]="{'active-nav': currentPage === 'location'}">
    <img src="assets/location.png" alt="location icon">
  </a>

  <a (click)="navProfil()" [ngClass]="{'active-nav': currentPage === 'profil'}">
    <img src="assets/profil_icon.png" alt="profil icon">
  </a>
  <a (click)="navOdjava()" [ngClass]="{'active-nav': currentPage === 'odjava'}">
    <img src="assets/odjava_icon.png" alt="odjava icon">
  </a>
  </nav>
  
</ion-content>
