<ion-content [fullscreen]="true">
  
  <div class="wraper">
    <form [formGroup]="applyForm" (ngSubmit)="unosForme()">
      <img src="assets/title image.png" alt="title image" class="title-img">
      <ion-item>
        <ion-label position="stacked">
          <p>Početak razdoblja:</p>
          <p>Izaberite datum</p>
          <br>
        </ion-label>
        
        <ion-input id="date1" [value]="formattedDate1" readonly required (click)="openPopover($event, 'popover1')" formControlName="startday"></ion-input>
        <ion-popover trigger="date1">
          <ng-template>
            <ion-datetime 
              presentation="date" 
              locale="hr-HR" 
              [firstDayOfWeek]="1" 
              [highlightedDates]="highlightedDates"
              (ionChange)="onDateChange($event, 'startday')">
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
  
  
      <ion-item>
        <ion-label position="stacked">
          <p>Kraj razdoblja:</p>
          <p>Izaberite datum</p>

          <br>
        </ion-label>
        
        <ion-input id="date2" [value]="formattedDate2" readonly required (click)="openPopover($event, 'popover2')" formControlName="endday"></ion-input>
        <ion-popover trigger="date2">
          <ng-template>
            <ion-datetime 
              presentation="date" 
              locale="hr-HR" 
              [firstDayOfWeek]="1" 
              [highlightedDates]="highlightedDates"
              (ionChange)="onDateChange($event, 'endday')">
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <p class="lokacija">Lokacija posla:</p>
    <select name="location" id="location" formControlName="location">
      <option value="" disabled selected>Izaberite lokaciju</option>
      <option *ngFor="let location of locations"  [value]="location.id">{{ location?.title }}</option>
    </select>

    <button type="submit">Prikaži radne sate</button>
    </form>
    <div class="workersDataConteiner" *ngIf="responseData">
  
      <div class="workersDataDate"*ngFor="let item of responseData">
          <h1> {{item.date }} </h1>
          
          <div class="workersData" *ngFor="let key of getKeys(item)">
               <div *ngIf="isNumericKey(key)" class="workers">
                <p> {{ item[key].surname }} {{ item[key].name }} - {{ item[key].hours }} - {{ item[key].type }}</p>
               </div>
          </div>
      </div>
     <div class="space"></div>
    </div>
  </div>
  

  <nav>
    <a (click)="navHours()" [ngClass]="{'active-nav': currentPage === 'hours'}">
      <img src="assets/hours_icon.png" alt="hours icon">
    </a>
    <a (click)="navLokacija()" [ngClass]="{'active-nav': currentPage === 'locations'}">
      <img src="assets/location.png" alt="location icon">
    </a>
    <a (click)="navProfil()" [ngClass]="{'active-nav': currentPage === 'profil'}">
      <img src="assets/profil_icon.png" alt="profil icon">
    </a>
    <a (click)="navOdjava()" [ngClass]="{'active-nav': currentPage === 'odjava'}">
      <img src="assets/odjava_icon.png" alt="odjava icon">
    </a>
    </nav>
    
</ion-content>
