ion-content {
    font-family: 'Poppins', sans-serif;
    line-height: 1.42857143;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 3em;
    padding: 0 0.5rem;
}

h2 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.1;
    margin-left: 1rem;
}

p {
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
}

.lokacija {
    text-indent: 1rem;
}

form, ion-label {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

ion-input, select {
    width: 97%;
    font-size: 0.875rem;
    box-shadow: inset 0 1px 1px rgb(0, 0, 0);
    border-radius: 5px;
    text-indent: 0.5rem;
}

select {
    background-color: #fff;
    min-height: 40px;
    margin: 0 0.3rem;
}

ion-item {
    width: 107%;
    margin: 0 -0.5rem;
}

ion-label p {
    color: #000000;
    font-size: 1.2rem;
    text-indent: 1rem;
}

ion-datetime {
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
}

button, .formSend {
    background-color: #009300;
    color: #fff;
    width: 100%;
    padding: 1.2em 0;
    margin: 2em 0;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.formSend {
    font-size: 1rem;
}

.formSend.success {
    background-color: #009300;
  }
  
  .formSend.error {
    background-color: #ff0000;
  }

/*nav {
    width: 100%;
    background-color: #4048c5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 1rem;
}

nav a {
    font-size: 0.875rem;
    color: #fff;
    margin: 1rem 0;
}*/

nav {
    width: 100%;
    height: 15vmin;
    background-color: #000093;
    color: #ffff;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    position: fixed;
    bottom: 0;
    box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.75);
}

nav a img{
   height: 9vmin;
   margin: 1rem 1.5rem;
   filter: invert(100%) sepia(4%) saturate(6%) hue-rotate(211deg) brightness(104%) contrast(100%);
}

.active-nav img {
    border-bottom: 5px solid #000000;
}

.workersDataDate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.workersData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.space {
    margin-top: 3rem;
    height: 15vmin;
}

